/* ----------------------
       general things
-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: helvetica; }

body {
  position: relative; }
  body > *[id].hide {
    display: none; }

/* -----------------------
        #userPanel 
------------------------*/
#userPanel {
  height: 50px;
  width: 50%;
  overflow: hidden; }
  #userPanel form {
    display: inherit;
    background: white;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0; }
    #userPanel form p {
      z-index: 3; }
    #userPanel form input,
    #userPanel form button,
    #userPanel form > p {
      font-size: 19px;
      display: block;
      width: 100%;
      height: 50px;
      padding: 1em;
      margin-bottom: 10px;
      border: none;
      color: white;
      background: #4b4851; }
    #userPanel form input[type="submit"],
    #userPanel form #signIn,
    #userPanel form #hi {
      cursor: pointer;
      display: inline-block;
      background: white;
      color: #4b4851;
      font-weight: bold; }
      #userPanel form input[type="submit"].hide,
      #userPanel form #signIn.hide,
      #userPanel form #hi.hide {
        display: none; }
    #userPanel form input[type="submit"] {
      text-align: right;
      border-left: none; }
    #userPanel form fieldset,
    #userPanel form p {
      padding: 1em; }
    #userPanel form .cancelBtn {
      background: red; }
    #userPanel form .hide {
      display: none; }
    #userPanel form.hide {
      display: none; }
  #userPanel button {
    text-align: right; }
  #userPanel.expand {
    overflow: visible;
    z-index: 2; }

/* -----------------------
        #notificationPanel 
------------------------*/
#notificationPanel {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  width: 50%;
  overflow: hidden;
  z-index: 2;
  text-align: right;
  padding: 1em; }
  #notificationPanel #logo {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #4b4851;
    position: absolute;
    right: 1em;
    cursor: pointer; }
  #notificationPanel #notifications {
    position: relative;
    top: 50px; }
  #notificationPanel.expand {
    overflow: visible; }

/* -----------------------
        #whoAreWe 
------------------------*/
#whoAreWe {
  height: 80vh;
  background-image: url("/assets/cats.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  position: relative; }
  #whoAreWe .intro {
    height: 43%;
    width: 50%;
    min-width: 700px;
    /* temp solution */
    background: #bbd2b6;
    opacity: 0.97;
    position: relative;
    left: 25%;
    top: 41%;
    padding: 2em 3em; }
    #whoAreWe .intro h1 {
      font-size: 60px;
      color: #f0f4ff; }
    #whoAreWe .intro p {
      text-align: right;
      font-size: 19px;
      color: #f0f4ff; }
  #whoAreWe.hide {
    display: none; }

/* -----------------------
        #howYouHelp 
------------------------*/
#howYouHelp {
  padding: 50px;
  text-align: center; }
  #howYouHelp img.icon {
    width: 50px; }
  #howYouHelp > div {
    position: relative; }
    #howYouHelp > div .colorCode {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      position: absolute; }
    #howYouHelp > div .left {
      left: 35%; }
    #howYouHelp > div .right {
      right: 35%; }
    #howYouHelp > div .color1 {
      background: #f6e4da; }
    #howYouHelp > div .color2 {
      background: #edd5a6; }
    #howYouHelp > div .color3 {
      background: #f0f4ff; }

/* -----------------------
        #callToAction 
------------------------*/
#callToAction {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  background: #f2f1ed;
  color: #5a6272; }
  #callToAction h3 {
    grid-column: 1/-1;
    text-align: center; }
  #callToAction .actionDesc {
    height: 50px;
    /* temp solution */ }
  #callToAction input:not([type="checkbox"]),
  #callToAction button {
    display: block;
    margin: 1em 0;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    font-size: 16px;
    text-align: left; }
  #callToAction label {
    display: block;
    padding-left: 1em; }
  #callToAction button {
    background: #4b4851;
    color: white; }
  #callToAction i {
    font-size: 0.7em; }
  #callToAction.hide {
    display: none; }

/* -----------------------
        #userSection 
------------------------*/
#user.hide {
  display: none; }

#user > p {
  text-align: center;
  padding: 1em; }

#user #followedAnimals {
  background: #f2f1ed;
  padding: 10vw;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 12vw; }
  #user #followedAnimals > div:not(.arrows) {
    width: 100%;
    height: 12vw;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #4b4851; }
    #user #followedAnimals > div:not(.arrows) img {
      width: 100%; }

#user #otherAnimals {
  height: auto;
  padding: 10vw;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(3, 23vw);
  grid-template-rows: 23vw; }
  #user #otherAnimals section {
    display: grid;
    grid-template-columns: 23vw 23vw;
    grid-row-gap: 123px; }
    #user #otherAnimals section > div:first-child {
      grid-column: 1/-1; }
  #user #otherAnimals .round {
    cursor: pointer;
    background: #e4a572;
    border: 0.5vw solid transparent;
    width: 23vw;
    border-radius: 50%; }
    #user #otherAnimals .round .round {
      width: 22vw;
      background: #edd5a6; }
      #user #otherAnimals .round .round .round {
        width: 21vw;
        background: #f6e4da; }
        #user #otherAnimals .round .round .round .roundWrapper {
          width: 20vw;
          height: 20vw;
          border-radius: 50%;
          overflow: hidden; }
          #user #otherAnimals .round .round .round .roundWrapper img {
            width: 20vw;
            height: 20vw; }
    #user #otherAnimals .round.large {
      transform: scale(1.5); }
    #user #otherAnimals .round.opacity {
      opacity: 0.1; }
    #user #otherAnimals .round.hide {
      display: none; }
  #user #otherAnimals .hide {
    display: none; }

#user .arrows {
  width: 94%;
  margin-left: 3%;
  position: absolute;
  top: 50%; }
  #user .arrows span:nth-child(2) {
    float: right; }

#user #reserved {
  height: 200px; }
  #user #reserved.hide {
    display: none; }

/* -----------------------
        #admin 
------------------------*/
#admin.hide {
  display: none; }

footer {
  background: #4b4851;
  color: #f2f1ed;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20vw; }
