/* Coolors Exported Palette - coolors.co/f7e545-e4a570-596172-28180f-f3f2ee */

/* HSL */
$color1: hsla(54%, 92%, 62%, 1);
$color2: hsla(27%, 68%, 67%, 1);
$color3: hsla(221%, 12%, 40%, 1);
$color4: hsla(22%, 45%, 11%, 1);
$color5: hsla(48%, 17%, 94%, 1);

/* RGB */
$color1: rgba(247, 229, 69, 1);
$color2: rgba(228, 165, 112, 1);
$color3: rgba(89, 97, 114, 1);
$color4: rgba(40, 24, 15, 1);
$color5: rgba(243, 242, 238, 1);