/* Coolors Exported Palette - coolors.co/f2f6ff-edd5a5-f6e5db-4a4750-bcd3b7 */

/* HSL */
$color1: hsla(222%, 100%, 97%, 1);
$color2: hsla(40%, 67%, 79%, 1);
$color3: hsla(22%, 60%, 91%, 1);
$color4: hsla(260%, 6%, 30%, 1);
$color5: hsla(109%, 24%, 77%, 1);

/* RGB */
$color1: rgba(242, 246, 255, 1);
$color2: rgba(237, 213, 165, 1);
$color3: rgba(246, 229, 219, 1);
$color4: rgba(74, 71, 80, 1);
$color5: rgba(188, 211, 183, 1);