/* ----------------------
       main things
-----------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway");

$font: "Raleway", sans-serif;
$btnHover: #599686;
$darkbtn: #74b7a5;
$mainColor: #ead8a6;
$grayColor: #efefef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: $font;
}

#addPetForm {
  background-color: lightblue;
}

/* -----------------------
        Navbar 
------------------------*/

.navbar {
  position: fixed;
  z-index: 20;
  height: 60px;
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 3px 20px 3px rgba(195, 195, 195, 0.77);
  svg {
    width: 150px;
    padding: 18px;
    fill: #818181;
    align-self: center;
  }
  //navbar on signed in page
  #sidebarBtns {
    justify-self: end;
    svg {
      width: 70px;
      padding: 15px;
    }
  }

  .darkBtn {
    font-size: 13px;
    padding: 9px;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    :hover {
      background-color: $btnHover;
    }
    a {
      padding: 7px;
      background-color: $darkbtn;
      border-radius: 40px;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

/*------------------------------
Forms
------------------------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#loginForm {
  background-color: white;

  display: none;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 60px;
  box-shadow: 0px 3px 20px 3px rgba(195, 195, 195, 0.77);
  form {
    .formField {
      input {
        border-bottom: 1px solid grey;
      }
    }
  }
}
#donationForm,
#signupForm {
  background-color: #ded2c3;
  color: white;
  form {
    .formField {
      input {
        border-bottom: 1px solid grey;
      }
    }
  }
}

#messageForm,
#imageForm {
  background-color: white;
}
#loginForm,
#messageForm,
#imageForm {
  padding: 40px;
  color: grey;
  h2 {
    margin-bottom: 20px;
  }
  form {
    display: grid;
    .formField {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 1em;
      input {
        background: none;
        font-size: 1em;
        border: 0;
        border-bottom: 1px solid grey;
        font-family: inherit;

        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        cursor: text;
        &:focus {
          outline: 0;
          border-bottom: 1px solid $btnHover;
        }
      }
      input:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 2.125rem) scale(1.2);
      }
      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }
      input:not(:placeholder-shown) + label,
      input:focus + label {
        transition: 0.2s ease all;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
      input,
      label {
        touch-action: manipulation;
      }
    }
    button {
      font-family: $font;
      height: 40px;
      justify-self: end;
      padding: 7px;
      width: 150px;
      background-color: $darkbtn;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      align-self: end;
      &:hover {
        background-color: $btnHover;
      }
    }
    input,
    button {
      margin: 20px 0;
    }
  }
}

#donationForm,
#signupForm {
  padding: 40px;
  h2 {
    margin-bottom: 20px;
  }
  form {
    display: grid;
    .formField {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 1em;
      input {
        background: none;
        font-size: 1em;
        border: 0;
        border-bottom: 1px solid white;
        font-family: inherit;

        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        cursor: text;
        &:focus {
          outline: 0;
          border-bottom: 1px solid #b28973;
        }
      }
      input:placeholder-shown + label {
        cursor: text;
        color: white;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 2.125rem) scale(1.2);
      }
      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }
      input:not(:placeholder-shown) + label,
      input:focus + label {
        transition: 0.2s ease all;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
      input,
      label {
        color: white;
        touch-action: manipulation;
      }
    }
    button {
      font-family: $font;
      height: 40px;
      justify-self: end;
      padding: 7px;
      width: 150px;
      background-color: #b28973;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      align-self: end;
      &:hover {
        background-color: #916a56;
      }
    }
    input,
    button {
      margin: 20px 0;
    }
  }
}

#subscribeForm {
  form {
    display: grid;
    .formField {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 1em;
      input {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1em;
        border: 0;
        border-bottom: 1px solid white;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        cursor: text;
        &:focus {
          outline: 0;
          transition: 0.2s ease all;

          border-bottom: 2px solid white;
        }
      }
      input:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 1.5rem) scale(1.2);
      }
      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }
      input:not(:placeholder-shown) + label,
      input:focus + label {
        transition: 0.2s ease all;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
      input,
      label {
        touch-action: manipulation;
      }
    }
    button {
      font-family: $font;
      height: 40px;
      justify-self: end;
      padding: 7px;
      width: 150px;
      background-color: #759189;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      align-self: end;
      &:hover {
        background-color: #637e76;
      }
    }
  }
}

/* -----------------------
        Frontpage 
------------------------*/
#intro {
  padding-top: 60px;
  background-color: #ead8a6;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .introText {
    padding-left: 10vw;
    width: 42vw;
    align-self: center;
    .catchphrase {
      justify-self: center;
      padding-bottom: 30px;
      h1 {
        line-height: 1;
        color: rgba($color: white, $alpha: 0.7);
        font-size: 6vw;
        span {
          font-size: 9.5vw;
          &::before {
            content: "\A";
            white-space: pre;
          }
        }
      }
    }
    p {
      color: #c18e63;
    }
  }
  .introPic {
    display: grid;
    position: relative;
    .circle {
      position: absolute;
      align-self: center;
      img {
        width: 40vw;
        background-color: rgba($color: white, $alpha: 0.7);
        border-radius: 50%;
      }
    }

    .introCat {
      position: absolute;
      align-self: center;
      top: 388px;
      left: -7vw;
      img {
        width: 23vw;
      }
    }

    .introDog {
      position: absolute;
      align-self: center;
      top: 238px;
      left: 14vw;
      img {
        width: 31vw;
      }
    }
  }
}

.fullsize {
  width: 100%;
  height: 100vh;
}
#aboutUs {
  display: grid;
  align-self: center;
  background-color: #efefef;
  color: #aeaeae;
  text-align: center;
  padding: 10vw;
  h1 {
    align-self: center;
  }
  .aboutCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    h2 {
      margin: 20px 0;
    }
    .aboutImg {
      background-color: #ffffff;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      display: grid;
      margin: 20px auto;
      img {
        height: 175px;
        place-self: center;
      }
    }
  }
}

#ourPets {
}
#lastBox {
  color: white;
  display: grid;
  h2 {
    text-align: center;
    align-self: end;
    margin: 20px 0;
  }
  #animalImage {
    padding: 20px 10vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    div {
      margin: 20px 0;
      justify-self: center;

      img {
        width: 8vw;
        border-radius: 50%;
      }
    }
  }
}
#sendToUsForms {
  background-color: $darkbtn;
}

#frontpageForms,
#sendToUsForms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  #donationForm,
  #signupForm,
  #messageForm,
  #imageForm {
    margin: 10vw;
    padding: 40px;
  }
}

/* -----------------------
        signed in page
------------------------*/

#yourPets {
  padding: 10px 10vw;
  background-color: $grayColor;
  color: grey;
  display: grid;
  grid-template-rows: 20vh 1fr;
  position: relative;
  hr {
    position: relative;
    top: -60px;
    opacity: 0;
  }
  #petChoices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    div {
      align-self: end;
      input,
      label {
        margin: 20px 0;
      }
    }
    p {
      align-self: end;
      justify-self: end;
      margin: 20px 0;
    }
  }

  #animalImage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div {
      position: relative;
      margin: 20px 0;
      justify-self: center;
      text-align: center;

      .needsCircle {
        right: 3vw;
        width: 2vw;
        height: 2vw;
        box-shadow: 3px 1px 17px 3px rgba(255, 255, 255, 0.83);
        background-color: #a81c1c;
        border-radius: 50%;
        position: absolute;
      }

      img {
        cursor: pointer;

        width: 15vw;
        border-radius: 50%;
        align-self: center;
      }

      .petName {
        display: inline-block;
        padding: 2px;
        grid-row: 2;

        svg {
          width: 20px;
          vertical-align: middle;
          padding-right: 3px;
        }
        h3 {
          vertical-align: middle;
          display: inline-block;
          padding: 2px;
          color: grey;
        }
      }
    }
  }
}

.petExpand {
  width: 100vw;
  height: 40vh;
  background-color: white;
  grid-column: 1/-1;
  z-index: 2;
  display: none;
  grid-template-columns: 1fr 1fr;

  h2 {
    text-align: left;
    padding: 10px;
  }

  ul {
    list-style: none;
    padding: 10px;
    li {
      text-decoration: none;
      padding: 0;
      text-align: left;
    }
  }

  p {
    text-align: left;
    padding: 10px;
    padding-right: 70px;
  }

  .expandImg {
    width: 20vw;
    align-self: center;

    img {
      border-radius: 50%;
      width: 20vw;
    }
  }
}
#sendToUsForms {
  background-color: $mainColor;
}

.sidebar {
  box-shadow: 3px 1px 17px 3px rgba(155, 155, 155, 0.68);
  z-index: 3;
  height: 200vh;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  width: 26vw;
}
.closed {
  grid-template-columns: 1fr;
}

/*-------------------------
Preferences
------------------------*/
.form-popup {
  display: none;
  height: 100vh;
  background-color: #dee9f2;

  .popup-form-container {
    padding: 10px;
    background-color: white;
    width: 70%;
    margin: auto;

    .popup-form-container .btn {
      background-color: #dee9f2;
      color: #60748c;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100px;
      margin-bottom: 10px;

      border-radius: 40px;
    }
  }
}

/* -----------------------
        footer 
------------------------*/
.footer {
  padding: 50px 10vw;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #a6bdb7;
  h3 {
    margin-bottom: 20px;
  }
  .contactInfo {
    margin-bottom: 20px;
  }
  .soMeBtn {
    svg {
      fill: #ffffff;
    }
  }
}
.visible {
  display: block !important;
}
