/* ----------------------
       general things
-----------------------*/
$font: helvetica;
$color-light-grey: hsla(222%, 100%, 97%, 1);
$color-light-yellow: hsla(40%, 67%, 79%, 1);
$color-light-pink: hsla(22%, 60%, 91%, 1);
$color-dark-grey: hsla(260%, 6%, 30%, 1);
$color-light-green: hsla(109%, 24%, 77%, 1);
$color-light-orange: hsla(27%, 68%, 67%, 1);
$color-blue: hsla(221%, 12%, 40%, 1);
$color-brown: hsla(22%, 45%, 11%, 1);
$color-sand: hsla(48%, 17%, 94%, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: $font;
}
body {
  position: relative;
  & > *[id].hide {
    display: none;
  }
}
/* -----------------------
        #userPanel 
------------------------*/
#userPanel {
  height: 50px;
  width: 50%;
  overflow: hidden;
  form {
    display: inherit;
    background: white;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    p {
      z-index: 3;
    }
    input,
    button,
    & > p {
      font-size: 19px;
      display: block;
      width: 100%;
      height: 50px;
      padding: 1em;
      margin-bottom: 10px;
      border: none;
      color: white;
      background: $color-dark-grey;
    }
    input[type="submit"],
    #signIn,
    #hi {
      cursor: pointer;
      display: inline-block;
      background: white;
      color: $color-dark-grey;
      font-weight: bold;
      &.hide {
        display: none;
      }
    }
    input[type="submit"] {
      text-align: right;
      border-left: none;
    }
    fieldset,
    p {
      padding: 1em;
    }
    .cancelBtn {
      background: red;
    }
    .hide {
      display: none;
    }
    &.hide {
      display: none;
    }
  }
  button {
    text-align: right;
  }
  &.expand {
    overflow: visible;
    z-index: 2;
  }
}
/* -----------------------
        #notificationPanel 
------------------------*/
#notificationPanel {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  width: 50%;
  overflow: hidden;
  z-index: 2;
  text-align: right;
  padding: 1em;
  #logo {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: $color-dark-grey;
    position: absolute;
    right: 1em;
    cursor: pointer;
  }
  #notifications {
    position: relative;
    top: 50px;
  }
  &.expand {
    overflow: visible;
  }
}

/* -----------------------
        #whoAreWe 
------------------------*/
#whoAreWe {
  height: 80vh;
  background-image: url("/assets/cats.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
  .intro {
    height: 43%;
    width: 50%;
    min-width: 700px; /* temp solution */
    background: $color-light-green;
    opacity: 0.97;
    position: relative;
    left: 25%;
    top: 41%;
    padding: 2em 3em;
    h1 {
      font-size: 60px;
      color: $color-light-grey;
    }
    p {
      text-align: right;
      font-size: 19px;
      color: $color-light-grey;
    }
  }
  &.hide {
    display: none;
  }
}

/* -----------------------
        #howYouHelp 
------------------------*/
#howYouHelp {
  padding: 50px;
  text-align: center;
  img.icon {
    width: 50px;
  }
  & > div {
    position: relative;
    .colorCode {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      position: absolute;
    }
    .left {
      left: 35%;
    }
    .right {
      right: 35%;
    }
    .color1 {
      background: $color-light-pink;
    }
    .color2 {
      background: $color-light-yellow;
    }
    .color3 {
      background: $color-light-grey;
    }
  }
}
/* -----------------------
        #callToAction 
------------------------*/
#callToAction {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  background: $color-sand;
  color: $color-blue;
  h3 {
    grid-column: 1/-1;
    text-align: center;
  }
  .actionDesc {
    height: 50px; /* temp solution */
  }
  input:not([type="checkbox"]),
  button {
    display: block;
    margin: 1em 0;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    font-size: 16px;
    text-align: left;
  }
  label {
    display: block;
    padding-left: 1em;
  }
  button {
    background: $color-dark-grey;
    color: white;
  }
  i {
    font-size: 0.7em;
  }
  &.hide {
    display: none;
  }
}
/* -----------------------
        #userSection 
------------------------*/
#user {
  &.hide {
    display: none;
  }
  & > p {
    text-align: center;
    padding: 1em;
  }
  #followedAnimals {
    background: $color-sand;
    padding: 10vw;
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 12vw;
    & > div:not(.arrows) {
      width: 100%;
      height: 12vw;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid $color-dark-grey;
      img {
        width: 100%;
      }
    }
  }
  #otherAnimals {
    height: auto;
    //     background: $color-light-grey;
    padding: 10vw;
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(3, 23vw);
    grid-template-rows: 23vw;
    section {
      display: grid;
      grid-template-columns: 23vw 23vw;
      grid-row-gap: 123px;
      & > div:first-child {
        grid-column: 1/-1;
      }
    }
    .round {
      cursor: pointer;
      background: $color-light-orange;
      border: 0.5vw solid transparent;
      width: 23vw;
      border-radius: 50%;
      .round {
        width: 22vw;
        background: $color-light-yellow;
        .round {
          width: 21vw;
          background: $color-light-pink;
          .roundWrapper {
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 20vw;
              height: 20vw;
            }
          }
        }
      }
      &.large {
        transform: scale(1.5);
      }
      &.opacity {
        opacity: 0.1;
      }
      &.hide {
        display: none;
      }
    }
    .hide {
      display: none;
    }
  }
  .arrows {
    width: 94%;
    margin-left: 3%;
    position: absolute;
    top: 50%;
    p {
    }
    span:nth-child(2) {
      float: right;
    }
  }
  #reserved {
    height: 200px;
    &.hide {
      display: none;
    }
  }
}
/* -----------------------
        #admin 
------------------------*/
#admin {
  position: relative;
  nav {
    position: fixed;
    width: 10vw;
    padding-left: 20px;
    a {
      display: block;
      margin: 30px 0;
      cursor: pointer;
    }
  }
  .dash {
    width: 90vw;
    position: relative;
    left: 10vw;
  }
  .dash > div {
    height: 100vh;
    border: 1px solid black;
  }

  &.hide {
    display: none;
  }
}
footer {
  background: $color-dark-grey;
  color: $color-sand;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20vw;
}
